.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.4s;
    z-index: 1;
    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 12rem;
    }
    &:hover {
      transform: scale(1.2);
      z-index: 10;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    }
  }
}
